html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  /*padding-top: 40px;
  padding-bottom: 40px;*/
  background-color: #ffffff;
  font-family: "Muli", sans-serif;
}

.main {
    /* http://www.tipue.com/blog/center-a-div/ */
    margin: 0 auto;
    width: 200px; 
}

.message {
  font-size: xx-large;
  text-align: center;
  display: block;
  width: 100%;
}

.logo {
    width: 8em;
    height: 8em;
    padding: 2em;
  }